@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
@custom-variant dark (&:where(.dark, .dark *));
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeDown {
  animation: fadeDown 0.5s ease;
}